:root {
  font-size: 18px;
}

body {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  line-height: 1.6;
}

.quote {
  font-style: italic;
  padding-left: 25px;
}

.heading {
  font-weight: 500;
  font-size: 1.2rem;
}

* { text-decoration: none;}

body, html {
  height: 100%;
}

.pixel {
  margin: 20px;
  width: 50px; 
  height: 50px;
  position: fixed;
}
.top-left {
  top: 0; 
  left: 0; 
}
.top-right {
  top: 0; 
  right: 0; 
}
.bottom-left {
  bottom: 0; 
  left: 0; 
}
.bottom-right {
  bottom: 0; 
  right: 0;
}
.about {
  position: fixed;
  top: 25px; 
  left: 90px;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1;
  color: hsla(0, 3%, 8%, 0.5);
}
.research {
  position: fixed;
  top: 25px; 
  right: 90px;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1;
  color: hsla(0, 3%, 8%, 0.5);
}
.data-skills {
  position: fixed;
  bottom: 25px;
  left: 90px;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1;
  color: hsla(0, 3%, 8%, 0.5);
}
.run {
  position: fixed;
  bottom: 25px;
  right: 90px;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1;
  color: hsla(0, 3%, 8%, 0.5);
}

.container-hero {
  display: flex;
  justify-content: left; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%;
  margin-left: 10%;
}

.hero-text {
  font-size: 5rem;
  font-weight: 300;
  word-spacing: 1.4px;
}

.container {
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.field1-2 {
  margin-left: 25px;
  text-align: justify;
  max-width: 850px;
}

.field2-2 {
  margin-left: 25px;
  text-align: justify;
  max-width: 650px;
}

.field3-1 {
  margin-right: 25px;
  text-align: justify;
  max-width: 650px;
}

.field3-2 {
  margin-top: 75px;
}

.field4-2 {
  margin-left: 25px;
  text-align: justify;
  max-width: 650px;
}
.section-about, 
.section-research,
.section-data {
  min-height: 100vh;
  margin-left: 15vw;
  margin-right: 15vw;
  padding-top: 5vh;
}

.section-run {
  min-height: 75vh;
  margin-left: 15vw;
  margin-right: 15vw;
  padding-top: 5vh;
}



.imgData {
  border: 1px solid grey;
}


.back {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  font-size: 2rem;
  font-weight: 500;
  color: antiquewhite;
  margin-bottom: 10vh;
}

.back:hover {
  color:ghostwhite;
}
