:root {
    --ff-courier: "Courier", monospace;
    --ff-roboto: "Roboto", sans-serif;

    --white: #f4f4f4;
    --blue: #1877F2;
}

html {
    font-size: 16px; /* Set the root font size to 16 pixels */
  }

body {
    background-color: var(--white);
    font-family: var(--ff-roboto);
    text-align: center;
    word-spacing: 1.4px;
    line-height: 1.6;
    text-rendering: optimizeSpeed;
    place-content: center;
}

img,
header {
    display: inline-block;
    vertical-align: middle;
    color: var(--blue);
    margin-top: 2.5em;

}
header {
    margin-left: 10px; /* Adjust margin between the image and the header */
} 

header {
    background-color: var(--white);
    color: var(--blue);
    text-align: center;
}

.word-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2.5em;
    align-self: center; /* Vertically center the container */
}

.word {
    margin-bottom: 10px;
    transition: font-size 0.3s ease, margin-left 0.5s ease;
    margin-left: 0; /* Add this line to set the initial margin */
    text-decoration: none; /* Remove underline */
    color: black; /* Set text color to black */
    margin: 0 10px;
}
.word:hover {
    font-size: 24px; /* Adjust this value based on your preference */
    margin-left: 10px; /* Adjust this value based on your preference */
}

.info {
    margin-top: 5em;
    margin-left: 10vw;
    margin-right: 10vw;
}

#research-info {
    text-align: justify;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
} 
th, td {
    padding: 10px;
    text-align: left;
    font-size: 16px;
}
a {
    color: #1877F2;
    text-decoration: none;
}
